/* styles.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Set height to 100% of browser window height*/
    width: auto; /* To ensure full width */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1e1e1e;
    color: #00FF00;
    font-family: 'Courier New', monospace;
    position: relative; 
    flex-direction: column;
    background-image: url('foto/fon.jpg'); /* Path to your image */
    background-size: cover; /* This will cause the image to cover the entire screen */
    background-position: center; /* center the image */
    background-repeat: no-repeat; /* So that the image is not repeated */
    
}
.content {
    flex-grow: 1; 
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.2);
    box-sizing: border-box;
    border: 2px solid #00FF00;
    height: auto; /* Allows the container to adapt to height */
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 1px;
    margin-top: 1px;
    font-family: "Papyrus", sans-serif;
    color: rgb(255, 215, 0);
}

h3 {
    color: rgb(255, 215, 0); 
    font-size: 33px;
    text-align: center;
    margin-bottom: 36px;
    margin-top: 1px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #00FF00;
    font-size: 23px;
    font-family: 'Courier New', monospace;
}

input[type="file"],
input[type="password"] {
    width: auto;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #00FF00;
    border-radius: 8px;
    font-size: 16px;
    background-color: #222;
    color: rgb(255, 215, 0); 
}

input[type="file"]:focus,
input[type="password"]:focus {
    border-color: #FFD700;
    outline: none;
}


button {
    width: 99%;
    padding: 12px;
    background-color: #00FF00;
    color: rgb(164, 109, 46); 
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(255, 215, 0); 
}

#downloadLink {
    text-align: center;
    margin-top: 20px;
}

.errorMessage,
.successMessage {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

.errorMessage {
    background-color: #ff0000;
    color: white;
}

.successMessage {
    background-color: #228B22;
    color: white;
}

.form-section {
    border: 1px solid #00FF00; /* thin green frame */
    border-radius: 8px; /* Rounded eyes (as desired) */
    padding:  5px; /* Footsteps inside the frame */
    margin-bottom: 19px; /* The end of the series */
    background-color: rgba(64, 64, 64, 0.366); /* translucent background */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.2);  
}

.hidden {
    display: none;
}
/* For mobile devices */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 18px;
    }

    input[type="file"], input[type="password"], button {
        width: 100%;
        font-size: 14px;
    }

    label {
        font-size: 18px;
    }
}

/* Mobile  version */
@media screen and (max-width: 480px) {
    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    input[type="file"], input[type="password"], button {
        font-size: 12px;
    }

    label {
        font-size: 14px;
    }
}
/* Modal window to download */
.loadingModal {
    display: none; /* hidden by default*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.loadingContent {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #00FF00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
    background-color: #7c540aa2; /* Background color for the footer */
    color: #050505; /* Text color */
    text-align: center; /* Center-align text */
    padding: 0 px ; /* Padding for top and bottom */
    position: fixed; /* To position it at the bottom of the page */
    bottom: 0; /* Aligns the footer at the bottom */
    height: 50px;
    width: 100%; /* Stretches the footer across the full width */
    font-size: 20px; /* Font size */
    font-family: "Papyrus", sans-serif;
}

body {
    opacity: 0; /* hide body site */
    transition: opacity 2s ease-in-out; 
}

body.loaded {
    opacity: 1; 
}
